.header {
  min-height: 640px;
  background-image: url("./mobile-fon.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner {
  margin-bottom: 52px;
  padding-top: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__site-nav {
  order: 3;
}

.site-nav__inner {
  display: none;
}

.header__mail {
  display: none;
}

.header__social-list {
  display: none;
}

.header__logo-svg {
  width: 95px;
  height: 16px;
}

.header__order-btn {
  display: none;
}

.header__phone {
  display: flex;
  align-items: center;
}

.phone__call-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.call-link__wrapper {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.phone__prefix {
  font-family: 'Proxima Nova Thin';
  font-weight: 300;
}

.phone__recall-link {
  font-size: 8px;
  line-height: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.phone__svg-wrapper {
  width: 21px;
  height: 21px;
  margin-right: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}